/* .visibility-container {
    display: flex;
    flex-direction: row;
}
.visibility-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.visibility-container ul li {
    margin: 0 5px;
} */

.checkbox-container {
    display: flex;
    justify-content: center;
}
